* { 
    box-sizing: border-box;
}
body {
    background-image: url("../images/gravel.png");
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    overflow: auto;
}

h1, h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
    font-weight: bold;
}

h2 {
    font-size: 30px;
    padding: 15px 0px;
    margin-bottom: 20px;
    border-bottom: 2px solid #cccccc;
}

header {
    background: #ffffff;
    border-bottom: 3px solid #cccccc;
    margin-bottom: 30px;
}

header h1 {
    background: #4aaaa5;
    color: white;
    display: inline-block;
    padding: 30px; 
    font-size: 30px;
}

nav {
    width: 300px;
    float: right;
    margin-top: 35px;
    text-align: center;
}

nav a {
    color: grey;
    font-size: 18px;
    padding: 5px 15px;
    text-decoration: none;
    border-right: .5px solid gray;
}

.wrapper {
    width: 960px;
    margin: 0 auto;
}

.headshot {
    float: left;
    margin: 0 15px 15px 0;
    border: 1px solid #777777;
}

#box {
    background: #ffffff;
    padding: 25px;
    border: 2px solid #cccccc;
    width: 960px;
}

p {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 20px;
}

form label {
    font-size: 18px;
    display: block;
}

form input, form textarea {
    width: 100%;
    display: block;
    margin: 5px 0px 20px 0px;
    border: 2px solid #cccccc;
    padding: 10px;
    font-size: 16px;
}

form textarea {
    height: 175px;
}

form button {
    background: #4aaaa5;
    color: #ffffff;
    padding: 10px 20px;
    margin: 10px 0;
    font-size: 18px;
}
.row1 {
    position: absolute;
    margin-top: 0px; 
    height: 225px;
    width: 500px;
}
.container1 {
    position: relative;
    text-align: center;
    color: white;
    width: 200px; 
    height: 200px; 
    margin-right:50px;
    float: left;
}
.container2 {
    position: relative;
    text-align: center;
    color: white;
    width: 200px; 
    height: 200px; 
    float: right;
}

.label {
    position: absolute;
    bottom: 8px;
    background: #4aaaa5;
    width: 200px;
    height: 25px;
}

.row2 {
    margin-top: 250px; 
    height: 225px;
    width: 500px;
    position: relative;
}

.container3 {
    position: relative;
    text-align: center;
    color: white;
    width: 200px; 
    height: 200px; 
    float: left;
}

.container4 {
    position: relative;
    text-align: center;
    color: white;
    width: 200px; 
    height: 200px; 
    float: right;
}

.row3 {
    position: relative;
    height: 225px;
    width: 560px;

    
}
.container5 {
    position: absolute;
    text-align: center;
    color: white;
    width: 200px; 
    height: 200px; 
    float: left;
}
.container6 {
    text-align: center;
    color: white;
    width: 200px; 
    height: 200px;
    position: relative;
}

.clearfix {
    display: block;
    clear: both;
}

footer {
    background: #666666;
    border-top: 8px solid #4aaaa5;
    color:white ;
    padding-top: 50px;
    margin-top: 50px;
    font-size: 10px;
    text-align: center;
    margin-bottom: 0px;
}
